import Component from '@ember/component';

export default Component.extend({
  tagName: ''
});

    <div id="serum-tab" class="tab-pane fade">
        {{{ansi-format text=this.char.custom.serums}}}
    </div>