{{#if (not this.game.disabled_plugins.tdsskills)}}
   {{#if this.char.tds.show_sheet}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemtdssheet">Sheet</a></li>
    {{/if}}
    {{#if this.char.tds.xp}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemtdsxp">XP</a></li>
    {{/if}}
{{/if}}

{{#if (not this.game.disabled_plugins.tdscombat)}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemtdsdamage">Damage</a></li>
{{/if}}
