<div id="txt" class="tab-pane fade in">
    Text Color: <Input @type="text" @size={{15}} @id="txtColor" @value={{this.char.custom.txt_color}} />
    <p class="hint">Use ansi color format for this, ex: %xh%xr for red highlight, %xh%xg for green highlight.</p>
</div>