<div class="play-section-title">
  Looking for RP
  {{#if this.showLFRP}}
    <TooltipButton @onClick={{(fn this.setShowLFRP false)}} @position="right" @message="Hide LFRP" @icon="fa fa-caret-square-up" />
  {{else}}
    <TooltipButton @onClick={{(fn this.setShowLFRP true)}} @position="right" @message="Show LFRP" @icon="fa fa-caret-square-down" />
  {{/if}}
  </div>

<div class="looking-for-rp">
  {{#if (or channel.is_recent this.showLFRP)}}
    {{#each this.custom.lfrp_icons as |char|}}
      <div class="lfrp-row">
        <CharIconInline @char={{char}}/>
      </div>
    {{/each}}
      <br>
  {{/if}}
</div>