{{page-title 'Heal Scan'" | Red Planet"}}

<h1>Heal Scan</h1>

<p class="alert alert-info">Please remember to check with that character's player before you treat them or take them as a patient.</p>
<div class="heal-scan-list">
{{#each this.model.heal_scan_list as |char|}}
  <div class="heal-scan-row">
    <span class="heal-scan-char"><CharIconInline @char={{char}}/>:</span> <span class="heal-scan-mod">{{char.damage_mod}}</span>
  </div>
{{/each}}
</div>

{{outlet}}